body {
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    
    /* Adições importantes para dispositivos móveis */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* cor de fundo fallback */
}

.full-height-center {
    min-height: calc(100vh - 90px); 
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.gap-2 {
    justify-content: center;
}

.card {
    margin: 10px;
}

.card-img-top {
    height: 12rem;
}



