<!DOCTYPE html>
<html lang="pt-br">
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="/css/bootstrap.min.css">
       <title>title</title>
   </head>
   <body>

    <div class="container p-2 border border-1 w-50 mt-5">
        <div>
            <h4 id="carrinho_nome"></h4>
            <h5 id="carrinho_valor"></h5>
        </div>
    </div>
    <br>

    <div class="container w-50">
        <div>
            <form onsubmit="enviar_dados(event)">
                <textarea name="mensagem" placeholder="Escreva sua mensagem aqui"></textarea>
                <br>
                <button type="submit">Enviar pelo WhatsApp</button>
            </form>
        </div>
    </div>

   </body>
   <script src="/js/main.js"></script>
   <script src="/js/carrinho.js"></script>
   <script src="/js/bootstrap.bundle.min.js"></script>
</html>